.history/
.metadata/
.vs/
ARM/
ARM64/
Assets/
Bin/
ContentSource/
Debug/
Depencies/
Games/
html/
Plan/
Release/
Research/
Save/
Trailer/
VisualStudio/
VSCode/
Win32/
x86/
x64/
*.a
*.cs
*.d
*.exe
*.exp
*.history
*.idb
*.ilk
*.index
*.iobj
*.ipdb
*.log
*.markers
*.mk
*.o
*.obj
*.opensdf
*.pdb
*.pdom
*.prefs
*.running
*.sdf
*.suo
*.snap
*.tlog
*.tmp
*.tree
*.user
*.vsdx
*.zip
*.pdf
*.odg
*.dia*
*.7z
*.vsix