Debug/
Release/
html/
Trailer/
Depencies/
ContentSource/
Games/
Save/
ARM/
x86/
.vs/
.history/
.metadata/
*.pdom
*.index
*.tmp
*.log
*.exp
*.ilk
*.iobj
*.ipdb
*.exe
*.pdb
*.tlog
*.obj
*.zip
*.idb
*.user
*.sdf
*.suo
*.o
*.d
*.mk
*.a
*.snap
*.running
*.markers
*.prefs
*.markers
*.history
*.cs
*.opensdf
*.tree